:root {
    --key-bg: white;
    --shadow-color: rgba(255, 255, 255, 0.705);
    --calc-bg: #273550;
}

* {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 550px;
    width: 350px;
    background-color: var(--calc-bg);
}

.display {
    flex: 1;
    width: inherit;
    padding: 0 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: black;
}

.keyboard {
    flex: 4;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}

.number {
    --key-bg: #265997;
    --shadow-color: #26599785;
}

.function {
    --key-bg: #40adcd;
    --shadow-color: #40accda8;
}

.operator, .equal {
    --key-bg: #5c7f6b;
    --shadow-color: #5c7f6b85;
}

button {
    flex: 1 1 calc(25% - 10px);
    background-color: var(--key-bg);
    font-size: 1.7rem;
    border: 0;
    transform: translateY(-5px);
    box-shadow: 0 5px var(--shadow-color);
}

button:active {
    transform: none;
    box-shadow: none;
}

.calculator, .display, button {
    border-radius: 10px;
}