:root {
    --text: white;
    --calc-bg: #273550;
    --key-bg: #265997;
    --func-bg: #40adcd;
    --display-bg: black;
}

* {
    color: var(--text);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 550px;
    width: 450px;
    background-color: var(--calc-bg);
}

.display {
    flex: 1;
    width: inherit;
    padding: 0 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--display-bg);
    color: var(--display-text);
}

.keyboard {
    flex: 4;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    flex: 1 1 calc(25% - 5px);
    background-color: var(--key-bg);
    font-size: 1.7rem;
    border: 0;
}

.keyboard .function {
    background-color: var(--func-bg);
}

.calculator, .display, button {
    border-radius: 10px;
}