body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    gap: 20px;
    height: 550px;
    width: 450px;
}

.display {
    flex: 1;
    border: blue 1px solid;
}

.keyboard {
    flex: 6;
    border: red 1px solid;
}